.button {
  height: 50px;
  border: none;
  background-color: #83dcf7;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2em;
}

.button:active {
  opacity: 0.5;
}

.button:disabled {
  opacity: 0.8;
}