.value {
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.incorrectValue {
  font-size: 2em;
  color: red;
  font-weight: bold;
}

.setValueMessage {
  font-size: 1.5em;
  color: #83dcf7;
  font-weight: bold;
}

.maxValue {
  font-size: 6em;
  color: red;
  font-weight: bold;
}